@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
	--font-family: 'Poppins', sans-serif;
	--medium: 400;
	--bold: 600;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/45degreee_fabric.png");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	padding: 2vh;
}

.biografi {
	height: 50vh;
	display: flex;
	position: relative;
	background-color: #eaeaea;
}

.biografi .img {
	display: flex;
	flex-direction: column;
}

.biografi .img img {
	width: 15vw;
	border-radius: 50%;
	position: relative;
	margin-left: 8vw;
	margin-top: 8vh;
}

.biografi h2 {
	margin-top: 8vh;
	margin-left: 3vw;
	font-family: var(--font-family);
	font-weight: var(--bold);
}

.biografi p {
	margin-top: 15vh;
	margin-left: -7vw;
}

.skills {
	height: 50vh;
}

.skills h2 {
	text-align: center;
	margin-top: 2vh;
}

.skills ul {
	text-align: center;
}

.pendidikan {
	height: 25vh;
}

.pendidikan h2 {
	text-align: center;
	margin-top: 3vh;
}

.pendidikan table {
	margin: 2vh auto;
	padding: 2px;
	text-align: center;
}

.contact h3 {
	text-align: center;
}

.contact form {
	margin: 0 44vw;
	position: relative;
}

.footer-text {
	line-height: 50px;
	margin-bottom: 0 !important;
}