* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: purple;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blog {
    width: 70%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

.blog img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.gallery {
    width: 25%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
