<div class="container">
   <div class="phones">
   </div>
   <div class="login-container">
    <h1>
     Instagram
    </h1>
    <input placeholder="Phone number, username, or email" type="text"/>
    <input placeholder="Password" type="password"/>
    <button>
     Log in
    </button>
    <div class="or">
     OR
    </div>
    <div class="facebook-login">
     <i class="fab fa-facebook-square">
     </i>
     Log in with Facebook
    </div>
    <div class="forgot-password">
     Forgot password?
    </div>
    <div class="signup">
     Don't have an account?
     <a href="#">
      Sign up
     </a>
    </div>
    <div class="app-links">
     <img alt="Get it on Google Play" height="40" src="https://storage.googleapis.com/a1aa/image/cDrZyCG4V0IQO9GAp4Au4BDMfHk5AytzZUXYlQEAtWixnz0JA.jpg" width="136"/>
     <img alt="Get it from Microsoft" height="40" src="https://storage.googleapis.com/a1aa/image/2hhpcJm9JfRUbC9fZMxgEchpm7KcyS9eExtof3EYrGtXe5MdC.jpg" width="136"/>
    </div>
   </div>
  </div>
  <div class="footer">
   <div>
    <a href="#">
     Meta
    </a>
    <a href="#">
     About
    </a>
    <a href="#">
     Blog
    </a>
    <a href="#">
     Jobs
    </a>
    <a href="#">
     Help
    </a>
    <a href="#">
     API
    </a>
    <a href="#">
     Privacy
    </a>
    <a href="#">
     Terms
    </a>
    <a href="#">
     Locations
    </a>
    <a href="#">
     Instagram Lite
    </a>
    <a href="#">
     Threads
    </a>
    <a href="#">
     Contact Uploading &amp; Non-Users
    </a>
    <a href="#">
     Meta Verified
    </a>
    <a href="#">
     Meta in Indonesia
    </a>
   </div>
   <div class="language">
    <select>
     <option>
      English
     </option>
     <!-- Add other languages as needed -->
    </select>
   </div>
   <div>
    © 2024 Instagram from Meta
   </div>
  </div>