  body {
            font-family: Arial, sans-serif;
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        .phones {
            position: relative;
            width: 380px;
            height: 580px;
            background: url('https://placehold.co/380x580') no-repeat center center;
            background-size: cover;
        }
        .login-container {
            width: 350px;
            margin-left: 50px;
            text-align: center;
        }
        .login-container h1 {
            font-family: 'Billabong', cursive;
            font-size: 50px;
            margin-bottom: 20px;
        }
        .login-container input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            background-color: #fafafa;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 3px;
            background-color: #0095f6;
            color: white;
            font-weight: bold;
        }
        .login-container .or {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 10px 0;
        }
        .login-container .or::before,
        .login-container .or::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #dbdbdb;
        }
        .login-container .or::before {
            margin-right: .25em;
        }
        .login-container .or::after {
            margin-left: .25em;
        }
        .login-container .facebook-login {
            color: #385185;
            font-weight: bold;
            margin: 10px 0;
        }
        .login-container .forgot-password {
            color: #00376b;
            font-size: 12px;
            margin: 10px 0;
        }
        .login-container .signup {
            margin: 20px 0;
        }
        .login-container .signup a {
            color: #0095f6;
            font-weight: bold;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #8e8e8e;
        }
        .footer a {
            color: #8e8e8e;
            margin: 0 5px;
        }
        .footer .language {
            margin-top: 10px;
        }
        .footer .language select {
            border: none;
            background: none;
            color: #8e8e8e;
        }
        .footer .app-links img {
            width: 136px;
            margin: 10px 5px;
        }